.projects-container{
     padding: 50px;
}
@media screen and (max-width : 576px) {
     .projects-container{
     padding: 20px;
}
} 
.main-heading{
        font-family: 'Exo', sans-serif;
        font-size: 40px;
        color: #ffffff;
        margin-bottom: 20px;
}
@media screen and (max-width : 576px) {
     .main-heading{
        font-size: 35px;
}
}
.project-heading{
        color: #79C9D4;
        text-shadow: 0 0 50px #C084FC;  
        font-family: 'Bungee', cursive;
        font-size: 33px;
        margin-bottom: 20px;
        margin-left: 15px;
        font-weight: 900;
}
@media screen and (max-width : 576px) {
     .project-heading{
        font-size: 30px;
}
}
.project-descripition{
       font-family: 'Exo', sans-serif;
        font-size: 25px;
        color: pink;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 15px;
}
@media screen and (max-width : 576px) {
     .project-descripition{
        font-size: 18px;
}
}
.react-span{
       color: #C084FC;
}
.projects-ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
}
.projects-li{
      width: 400px;
      list-style-type: none;
      padding: 15px;
      margin-bottom: 80px;
      border-radius: 10px;
      background-color: #1e1e1e;
      box-shadow: 0px 4px 6px 0px #C084FC ;
} 
@media screen and (max-width : 576px) {
   .projects-li{
      width: 250px;
}
}  
@media screen and (min-width :768px) and (max-width : 1024px)   {
        .projects-li{
          margin-left: 2px;
        }
}
.image{
     height: 300px;
     width: 400px;
        border-radius: 10px;
}
@media screen and (max-width : 576px) {
  .image{
     height: 200px;
     width: 250px;
}
}  
.title{
     color: #C084FC;;
     font-family: "Roboto", sans-serif;
     font-size: 30px;
     font-weight: bold;
}
@media screen and (max-width : 576px) {
  .title{
     font-size: 25px;
}
} 
.link-flex-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
      margin-bottom: 0px;
}
.link{
     text-decoration: none;
     color: rgb(6, 171, 236);
     margin-left: 10px;
     font-size: 18px;
}
@media screen and (max-width : 576px) {
  .link{
     font-size: 15px;
}
} 
.link:hover{
    text-decoration: underline;
    color: #C084FC;
}
.descripition{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #ffffff;
        margin-top: 10px;
}
@media screen and (max-width : 576px) {
  .descripition{
        font-size: 15px;
        margin-bottom: 5px;
}
} 
.user-pasword{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #79C9D4;
        margin-top: 10px;
}
@media screen and (max-width : 576px) {
  .user-pasword{
        font-size: 14px;
        margin-top: 1px;
        margin-bottom: 0px;
}
} 
.note-content{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #79C9D4;
        margin-top: 20px;
        margin-bottom: 0px;
}
@media screen and (max-width : 576px) {
  .note-content{
        font-size: 14px;
        margin-top: 1px;
}
} 
.user-pasword-container{
     display: flex;
     flex-direction: row; 
     justify-content: space-between;  
     align-items: center;
}
@media screen and (max-width : 576px) {
 .user-pasword-container{
     display: flex;
     flex-direction: column; 
     justify-content: flex-start;  
     align-items: flex-start;
}
} 
.flex-container{
        display: flex;
        flex-direction: row;  
        justify-content: space-between; 
        align-items: center;
}
.github-icon{
     color:skyblue;
     font-size: 45px;
}
@media screen and (max-width : 576px) {
  .github-icon{
     font-size: 40px;
}
} 
.github-icon:hover{
   color: #ffffff;

}
.share-icon{
      font-size: 20px;
}
@media screen and (max-width : 576px) {
  .share-icon{
      font-size: 13px;
}
} 