.about-container{
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      
}

.responsive-about-container{
      width: 70vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 100px;  
}
@media screen and (max-width : 576px) {
     .responsive-about-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
}
@media screen and (min-width :768px) and (max-width : 1024px)   {
     .responsive-about-container{
        width: 100%;
}
}
.about-width{
   width: 650px;
   order: 0;
}
@media screen and (max-width : 576px) {
    .about-width{
        width: 100%;
        order: 2;
}
}
.profile-pik{
   height: 400px;
   width: 300px;
   border-top-left-radius: 50px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 50px;
   border-bottom-left-radius: 20px;
   border: 1px solid #A855F7;
   box-shadow: 0px 4px 16px 0px #bfbfbfbf;
   margin-right: 50px;
}
@media screen and (max-width : 576px) {
   .profile-pik{
      height: 300px;
      width: 230px;
      margin-bottom: 30px;
}
}



@media screen and (max-width : 576px) {
   .profile-order{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
}
}
.name{
   color: #ffffff;
   font-family: "Poppins", sans-serif;
   font-size: 50px;
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 50px;
}
@media screen and (max-width : 576px) {
   .name{
     font-size: 35px;
}
}
.role{
   color: #ffffff;
   font-family: 'Exo', sans-serif;
   font-size: 30px;
   margin-top: 5px;
   margin-bottom: 0px;
          
}
@media screen and (max-width : 576px) {
   .role{
     font-size: 25px;
}
}
.span {
   color:#8B5CF6;
   font-weight: 900;
   font-size: 40px;
   text-shadow: 0 0 10px #A855F7;             
}
@media screen and (max-width : 576px) {
   .span {
     font-size: 25px;
     font-weight: 600;
}
}
.descripition{
   color: #ffffff;
   font-family: 'Comfortaa', cursive;
   font-size: 22px;
   margin-top:10px;
   margin-bottom: 0px;
}
@media screen and (max-width : 576px) {
   .descripition {
     font-size: 15px;
}
}
.conatct-icons-conatainer{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 20px;
}
.conatct-icons{
   color: #A855F7;
   font-size: 50px;
   margin-left: 0px;
   margin-right: 15px;
   cursor: pointer;
}
.gmail{
     color: #A855F7;
     font-family: "Poppins", sans-serif;
     font-size: 28px;
     font-weight: bold;
}
@media screen and (max-width : 576px) {
   .gmail{
     font-size: 22px;
}
}
@media screen and (max-width : 576px) {
   .conatct-icons{
    font-size: 40px;
}
}
.conatct-icons:hover{
   color: #ffffff;
}
.about-link{
    color: inherit;
    text-decoration: none;
}