.home-bg-container{
      height: 100%;
      background-color: #0f0f0f;
      background-image: linear-gradient(to bottom, #0f0f0f  gold );
      padding: 30px;
}
.responsive-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color :#181818;
      box-shadow: 0px 4px 16px 0px;
      border-radius: 30px;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow: visible;
}

.responsive-container::-webkit-scrollbar {
  display: none;
}

